<form method="POST" action="/checkout">
<h2>Enter an item that you would like to purchase:</h2>
<input id="item" name="item" type="text" /><br>
<button id="submit" name="submit" type="submit">Submit</button>
</form>
